<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atracciones</title>
</head>
<body>
    <h1>Atracciones</h1>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Altura</th>
            <th>Duración</th>
            <th>Zona</th>
            <th>Intensidad</th>
        </tr>
        {{#attractions}}
        <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{height}}</td>
            <td>{{duration}}</td>
            <td>{{zone.name}}</td>
            <td>{{intensity.name}}</td>
        </tr>
        {{/attractions}}
    </table>
</body>
</html> <!--hola--> 
