<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:8080/web.css">    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/src/main/resources/static/script.js"></script>
    <title>Navegation</title>
</head>
<body>
  <!-- Menú de navegación -->
  <nav id="navegacion-principal" class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a id="parque" href="PaginaPrincipal.html">LagoonLand</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-navegacion" aria-controls="menu-navegacion" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu-navegacion">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="PaginaPrincipal.html">HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="http://localhost:8080/planifica-tu-visita">PLANIFICA TU VISITA</a></li>
            <li class="nav-item"><a class="nav-link" href="http://localhost:8080/attractionsgalery">DESCUBRE EL PARQUE</a></li>
            <li class="nav-item"><a class="nav-link" href="#footer">HORARIOS</a></li>
            <li class="nav-item"><a class="nav-link resaltar-tickets" href="Compra.html">COMPRA TUS TICKETS</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <!-- Imagen de Cabecera -->
      <div>
        <img src="Imagenes/DiseñoServicios2.png" alt="ImagenCompra1" class="img-services" width="100%">
      </div>
      <div class="text-plan">
          <h3>¡Descubre todos nuestros servicios!</h3>
          <p>Podrás descansar en nuestros cómodos hoteles, almorzar en nuestros mágicos restaurantes y comprar <span style="font-style: italic;">souvenirs</span> en nuestras tiendas.</p>
      </div>

      <div class="botones-filtro">
        <button class="boton-oferta seleccionado" data-categoria="hoteles" onclick="location.href='#hoteles'">Hoteles</button>
        <button class="boton-oferta seleccionado" data-categoria="restaurantes" onclick="location.href='#restaurantes'">Restaurantes</button>
        <button class="boton-oferta seleccionado" data-categoria="tiendas" onclick="location.href='#tiendas'">Tiendas</button>
      </div>

      <div class="div-sub-body">
        <!-- Hoteles -->
        <div id="hoteles">
          <h1 class="h1-plan">Hoteles</h1>
          <div class="card-container">
            <div class="card" th:each="hotel : ${hoteles}">
                <img th:src="@{${hotel.coverImage}}" alt="Imagen del hotel">
                <div class="card-info">
                    <h2 th:text="${hotel.name}"></h2>
                    <p th:text="${hotel.description}"></p>
                    <p><strong>Temática:</strong> <span th:text="${hotel.theme}"></span></p>
                    <p><strong>Estrellas:</strong> <span th:text="${hotel.stars}"></span></p>
                    <p><strong>Tipo de habitaciones:</strong> <span th:text="${hotel.roomTypes}"></span></p>
                    <a th:href="${hotel.url}" target="_blank">Ver más</a>
                </div>
            </div>
        </div>
        </div>
        <br><br>

        <!-- Restaurantes -->
        <div id="restaurantes">
          <h1 class="h1-plan">Restaurantes</h1>
          <div class="card-container">
            <div class="card" th:each="restaurant : ${restaurantes}">
                <img th:src="@{${restaurant.coverImage}}" alt="Imagen del restaurante">
                <div class="card-info">
                    <h2 th:text="${restaurant.name}"></h2>
                    <p><strong>Slogan:</strong> <span th:text="${restaurant.slogan}"></span></p>
                    <p><strong>Temática:</strong> <span th:text="${restaurant.theme}"></span></p>
                    <p><strong>Tipo de servicio:</strong> <span th:text="${restaurant.diningType}"></span></p>
                    <p><strong>Ubicación:</strong> <span th:text="${restaurant.location}"></span></p>
                </div>
            </div>
          </div>
        </div>
        <br><br>

        <!-- Tiendas -->
        <div id="tiendas">
          <h1 class="h1-plan">Tiendas</h1>
          <div class="card-container">
            <div class="card" th:each="store : ${tiendas}">
                <img th:src="@{${store.coverImage}}" alt="Imagen de la tienda">
                <div class="card-info">
                    <h2 th:text="${store.name}"></h2>
                    <p><strong>Tipo de productos:</strong> <span th:text="${store.productType}"></span></p>
                    <p><strong>Ubicación:</strong> <span th:text="${store.location}"></span></p>
                </div>
            </div>
        </div>
      </div>


    </main>
    <footer id="footer">
      <div class="container-footer">
        <div class="footer-section footer-contacto">
          <h3>Contacto</h3>
          <p>Correo: contacto@parqueLagoonLand.com</p>
          <p>Teléfono: +34 123 456 789</p>
        </div>
        <div class="footer-section footer-horario"> 
          <h3>Horarios</h3>
          <p>Lunes a Viernes: 10:00 - 20:00</p>
          <p>Sábados y Domingos: 10:00 - 22:00</p>
        </div>
        <div class="footer-section"> 
          <h3>Calendario</h3>
          <iframe src="https://calendar.google.com/calendar/embed?wkst=1&ctz=Europe%2FParis&showPrint=0&showTitle=0&showCalendars=0&showTz=0&mode=MONTH&src=ZXMuc3BhaW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F09300" style="border-width:0" width="500" height="400" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
      <p class="footer-copyright">© 2025 LagoonLand. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>