<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  
<head>
    <title>Lista de Reservas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Reservas</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Fecha Visita</th> 
                </tr>
            </thead>
            <tbody>
                <tr th:each="reservation : ${reservations}"> 
                    <td th:text="${reservation.id}"></td> 
                    <td th:text="${reservation.name}"></td> 
                    <td th:text="${reservation.surname}"></td> 
                    <td th:text="${reservation.email}"></td> 
                    <td th:text="${reservation.phone}"></td> 
                    <td th:text="${reservation.fechaVisita}"></td> 
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>