

:root {
    --darkblue: #00408C;
    --blue: #96ADD6;
    --red: #E85234;
    --peach: #F9B8AF;
    --pink: #F2D7D3;
    --background-color: #F2EEE9; /*cream*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
}


/* Menú de navegación */
#navegacion-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--background-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Menú en una sola línea */
#menu-navegacion {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos bajen en pantallas pequeñas */
    list-style: none;
    gap: 20px;
}

#menu-navegacion li {
    border-radius: 5px;
}

#menu-navegacion li a {
    padding: 15px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s;
}

#menu-navegacion li:hover,
#menu-navegacion li.active {
    background-color: rgba(0, 0, 0, 0.3);
}

/*------Imagenes carousel pantalla home*-------/

/*Ajusto tamaños de letra*/
#album { 
    margin-bottom: 150px;
}
.carousel-caption h1{
    font-size: 55px; 
}
.carousel-caption p{
    font-size: 30px;
}
.carousel-caption h1,
.carousel-caption p {
    color: white; 
    text-shadow: 10px 10px 10px #000000; 
}
.carousel-caption {
  /*background-color: var(--darkblue);*/
  padding: 10px; 
  margin: 10px;
  border-radius: 15px; 
}
.carousel-indicators [data-bs-target] {
  width: 30px;
  height: 8px;
  background-color: black;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: white;
}

/*------Apartado tiendas, restaurantes y hoteles -------*/


  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
 
#seccion-titulo {
    text-align: center;
    margin-bottom: 100px;
    font-size: 55px;
    color: var(--darkblue);
    font-weight: bold; 
    /* background-color: var(--blue); 
    padding: 20px; 
    border-radius: 10px; */
}
  .servicios .columnas {
    margin-bottom: 15px;
    text-align: center;
  }
  .servicios .columnas p {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
  }
  .servicios .columnas h2.nombre {
    font-weight: bold; 
    color: var(--blue);      
    margin-top: 5px;   
    margin-bottom: 5px; 
    font-size: 30px;
  }
  .servicios .col-md-4 {
    padding-left: 25px;   
    padding-right: 25px;  
  }
  
  .rounded-circle.mx-auto.d-block {
    background-color: #aaa;
    border: 3px solid #444;
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }
  
  .rounded-circle.mx-auto.d-block:hover,
  .rounded-circle.mx-auto.d-block:focus {
    opacity: 1;
  }
  /* Estilo para los botones "btn-secondary" dentro de las columnas (puedes añadir aquí si quieres personalizar los botones) */
  .servicios .columnas .btn.btn-secondary {
    /* Ejemplo: Puedes añadir estilos específicos para los botones secundarios si lo deseas */
    background-color: #6c757d; /* Color de fondo del botón - Gris medio Bootstrap (ejemplo) */
    border: none;             /* Sin borde (ejemplo) */
    color: white;             /* Texto del botón - Blanco (ejemplo) */
  }
  


/*Menu-Compra de tickets*/
.div_ticketsZone {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    color: var(--background-color);
}

.div_ticket {
    margin: 20px;
    border: #00408C solid 3px;
    border-radius: 30px;
    background-color: #96ADD6;
    height: 600px;
    width: 400px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.textoCompra{
    padding: 70px;
    text-align: center;
}

.buy_image {
    width: 100%;
    border-radius: 27px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
