

:root {
    --darkblue: #00408C;
    --blue: #96ADD6;
    --red: #E85234;
    --peach: #F9B8AF;
    --pink: #F2D7D3;
    --background-color: white; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
}


/* Menú de navegación */
#navegacion-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--background-color);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Menú en una sola línea */
#menu-navegacion {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos bajen en pantallas pequeñas */
    list-style: none;
    gap: 25px;
}

#menu-navegacion li {
    border-radius: 5px;
}

#menu-navegacion li a {
    padding: 15px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--darkblue);
    font-weight: bold;
    transition: background-color 0.3s;
}

#menu-navegacion li:hover,
#menu-navegacion li.active {
    background-color: var(--blue);
}

/* Apartado para el resaltado de menu-comprartickets*/

#menu-navegacion li.resaltar-tickets {
    background-color: var(--peach); 
    border-radius: 0;
}

/*------Imagenes carousel pantalla home-------*/

.carousel-caption h1{
    font-size: 55px; 
}
.carousel-caption p{
    font-size: 30px;
}
.carousel-caption h1,
.carousel-caption p {
    color: white; 
    text-shadow: 10px 10px 10px #000000; 
}
.carousel-caption {
  /*background-color: var(--darkblue);*/
  padding: 10px; 
  margin: 10px;
  border-radius: 15px; 
}
.carousel-indicators [data-bs-target] {
  width: 30px;
  height: 8px;
  background-color: black;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: white;
}

/*------Apartado tiendas, restaurantes y hoteles -------*/ 
#seccion-titulo {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 150px;
    font-size: 50px;
    color: var(--darkblue);
    font-weight: bold; 
    /* background-color: var(--blue); 
    padding: 20px; 
    border-radius: 10px; */
}
  .servicios .columnas {
    margin-bottom: 15px;
    text-align: center;
  }
  .servicios .row {
    justify-content: center;
    gap: 40px;
  }  
  .servicios .columnas {
    margin-bottom: 15px;
    text-align: center;
    border:  #00408C solid 3px;
    background-color: #f8f9fa; 
    border-radius: 30px; 
    padding: 10px; 
    height: 440px;
    width: 400px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .servicios .columnas p {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
  .servicios .columnas h2.nombre {
    /*font-weight: bold;*/
    color: var(--blue);      
    margin-top: 5px;   
    margin-bottom: 15px; 
    margin-top: 20px;
    font-size: 30px;
  }
  .servicios .col-md-4 {
    padding-left: 14px;   
    padding-right: 14px;  
  }
  .rounded-circle.mx-auto.d-block {
    background-color: #aaa;
    border: 3px solid #444;
    opacity: 0.9;
    transition: opacity 0.3s ease;
    object-fit: contain;
  }
  
  .rounded-circle.mx-auto.d-block:hover,
  .rounded-circle.mx-auto.d-block:focus {
    opacity: 1;
  }
  .servicios .columnas .btn.btn-secondary {
    background-color: var(--darkblue); 
    border: none;             
    color: white;     
    display: block;
    margin: 0 auto;
  }
/*------Apartado Promociones-------*/ 
.contenedor-ofertas {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.botones-filtro {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size:22px; 
    padding: 10px 30px; 
}
.boton-oferta {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.boton-oferta:hover {
    background-color: var(--blue);
}

.boton-oferta.seleccionado {
    background-color: var(--darkblue);
    color: white;
}

.contenido-ofertas {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

#ofertas-parque {
    display: none; 
}

#ofertas-restaurantes {
    display: none;
}

.tarjeta-oferta {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: left;
}

.tarjeta-oferta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.precio-oferta {
    background-color: var(--peach);
    color: white;
    font-size: 25px;
    padding: 10px 15px;
    text-align: center;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-left: 15px;
    border-radius: 5px;
}

.tarjeta-oferta h3 {
    font-size: 25px;
    font-style: oblique;
    margin: 15px 15px 10px 15px;
    color: var(--blue);
}

.tarjeta-oferta p {
    font-size: 1em;
    margin: 0 15px 15px 15px;
    color: #555;
    text-align: left;
}
.excepciones{
    font-size: 15px;
    font-style: italic;
}
/*------Apartado reviews -------*/ 

/*------Apartado compra de tickets -------*/ 
.div_ticketsZone {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    color: var(--background-color);
}

.div_ticket {
    margin: 20px;
    border: #00408C solid 3px;
    text-align: center;
    border-radius: 30px;
    background-color: #96ADD6;
    height: 550px;
    width: 400px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.textoCompra{
    padding: 70px;
    text-align: center;
    color: #103869;
}
.textoCompra h3{
    font-size: 50px;
    font-weight: bold; 
}

.buy_image {
    width: 100%;
    border-radius: 27px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.h3_tickets {
    font-weight: bolder;
}

.text_ticket {
    margin: 35px;
    text-align: center;
}

.btn_ticket {
    background-color: var(--red);
    color: var(--background-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 40px;
    transform: translateX(-50%);
}

.price_ticket {
    font-size: 20px;
    font-weight: bold;
    color: var(--background-color);
    margin-top: 10px;
    position: absolute;
    bottom: 80px;
    transform: translateX(+50%);
}

.ventanaCompra {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.contenido_ventanaCompra {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}
.cerrar {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.modal-body {
    background-color: #F2EEE9;
}

.p_buy {
    color: #bebfc0;
}

.h2_buy {
    color: #00408C;
    font-weight: bold;
}

.h1_buy {
    color: #E85234;
    font-weight: bold;
}