

:root {
    --darkblue: #00408C;
    --blue: #96ADD6;
    --red: #E85234;
    --peach: #F9B8AF;
    --pink: #F2D7D3;
    --background-color: #F2EEE9; /*cream*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
}


/* Menú de navegación */
#navegacion-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--background-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Menú en una sola línea */
#menu-navegacion {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos bajen en pantallas pequeñas */
    list-style: none;
    gap: 20px;
}

#menu-navegacion li {
    border-radius: 5px;
}

#menu-navegacion li a {
    padding: 15px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s;
}

#menu-navegacion li:hover,
#menu-navegacion li.active {
    background-color: rgba(0, 0, 0, 0.3);
}

/*Imagenes pantalla home*/



.div_ticketsZone {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    color: var(--background-color);
}

.div_ticket {
    margin: 20px;
    border: #00408C solid 3px;
    border-radius: 30px;
    background-color: #96ADD6;
    height: 550px;
    width: 400px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.textoCompra{
    padding: 70px;
    text-align: center;
    color: #103869;
}

.buy_image {
    width: 100%;
    border-radius: 27px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.h3_tickets {
    font-weight: bolder;
}

.text_ticket {
    margin: 35px;
    text-align: center;
}

.btn_ticket {
    background-color: var(--red);
    color: var(--background-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 40px;
    transform: translateX(-50%);
}

.price_ticket {
    font-size: 20px;
    font-weight: bold;
    color: var(--background-color);
    margin-top: 10px;
    position: absolute;
    bottom: 80px;
    transform: translateX(+50%);
}

.ventanaCompra {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.contenido_ventanaCompra {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}
.cerrar {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.modal-body {
    
}
